@model FieldModel
@*@{
        var prefix = "Fields";
    }*@
<h3>Fields</h3>

@*@using (Html.BeginForm("", "", FormMethod.Post, new { id = "FieldsForm" }))
{ }*@
    <form id="FieldsForm">
        @Html.DisplayNameFor(d => d.Name)
        @Html.TextBoxFor(m => m.Name, new { id = "Fields_Name" })
        @Html.ValidationMessageFor(v => v.Name)

        @Html.DisplayNameFor(d => d.Type)
        @Html.TextBoxFor(m => m.Type, new { id = "Fields_Type" })
        @Html.ValidationMessageFor(v => v.Type)

        @Html.DisplayNameFor(d => d.Length)
        @Html.TextBoxFor(m => m.Length, new { id = "Fields_Length" })
        @Html.ValidationMessageFor(v => v.Length)

        <button type="button" onclick="AddField()"> Add </button>
    </form>

<br />
<br />
<table id="fieldsTable" width="100%" border="1">
    <thead><tr><th>Name</th><th>Type</th><th>Length</th></tr></thead>
    <tbody></tbody>
    @*@for (int i = 0; i < Model.l; i++)
        {

        }
        @foreach (var item in Model)
        { }*@
    @*<tr>
            <td><span>@item.Name</span><input type="hidden" value="@item.Name" id="Fields.Name" /></td>
            <td><span>@item.Type</span><input type="hidden" value="@item.Type" id="Fields.Type" /></td>
            <td><span>@item.Length</span><input type="hidden" value="@item.Length" id="Fields.Length" /></td>
            <td><button onclick="RemoveField(1)">X</button></td>
        </tr>*@

</table>

<script>
    function AddField() {
        //if ($("#FieldsForm").valid()) { }
            var name = $("#Fields_Name").val(); $("#Fields_Name").val("");
            var type = $("#Fields_Type").val(); $("#Fields_Type").val("")
            var length = $("#Fields_Length").val(); $("#Fields_Length").val("")

            var rowCount = $('#fieldsTable tbody tr').length;
            var rowHtml = '<tr><td><span>' + name + '</span><input type="hidden" value="' + name + '" id="Fields[' + rowCount + '].Name" /></td><td><span>' + type + '</span><input type="hidden" value="' + type + '" id="Fields[' + rowCount + '].Type" /></td><td><span>' + length + '</span><input type="hidden" value="' + length + '" id="Fields[' + rowCount + '].Length" /></td></tr>';
            $('#fieldsTable > tbody').append(rowHtml);
        
    }

    function RemoveField(index) {

    }
</script>