@model ActivityModel
@*@{
        var prefix = "Fields";
    }*@
<h3>Activities</h3>

@*@using (Html.BeginForm("", "", FormMethod.Post, new { id = "FieldsForm" }))
    { }*@
<form id="FieldsForm">
    @Html.DisplayNameFor(d => d.Name)
    @Html.TextBoxFor(m => m.Name, new { id = "Activity_Name" })
    @Html.ValidationMessageFor(v => v.Name)

    @Html.DisplayNameFor(d => d.ActivityTypeId)
    @Html.TextBoxFor(m => m.ActivityTypeId, new { id = "Activity_ActivityTypeId" })
    @Html.ValidationMessageFor(v => v.ActivityTypeId)

    @Html.DisplayNameFor(d => d.Description)
    @Html.TextBoxFor(m => m.Description, new { id = "Activity_Description" })
    @Html.ValidationMessageFor(v => v.Description)

    <button type="button" onclick="AddAction()"> Add </button>
</form>

<br />
<br />
<table id="activityTable" width="100%" border="1">
    <thead><tr><th>Name</th><th>Type</th><th>Description</th></tr></thead>
    <tbody></tbody>
    @*@for (int i = 0; i < Model.l; i++)
        {

        }
        @foreach (var item in Model)
        { }*@
    @*<tr>
            <td><span>@item.Name</span><input type="hidden" value="@item.Name" id="Fields.Name" /></td>
            <td><span>@item.Type</span><input type="hidden" value="@item.Type" id="Fields.Type" /></td>
            <td><span>@item.Length</span><input type="hidden" value="@item.Length" id="Fields.Length" /></td>
            <td><button onclick="RemoveField(1)">X</button></td>
        </tr>*@

</table>

<script>
    function AddAction() {
        //if ($("#FieldsForm").valid()) { }
        var name = $("#Activity_Name").val(); $("#Activity_Name").val("");
        var type = $("#Activity_ActivityTypeId").val(); $("#Activity_ActivityTypeId").val("")
        var description = $("#Activity_Description").val(); $("#Activity_Length").val("")

        var rowCount = $('#activityTable tbody tr').length;
        var rowHtml = '<tr><td><span>' + name + '</span><input type="hidden" value="' + name + '" id="Activities[' + rowCount + '].Name" /></td><td><span>' + type + '</span><input type="hidden" value="' + type + '" id="Activities[' + rowCount + '].ActionTypeId" /></td><td><span>' + description + '</span><input type="hidden" value="' + description + '" id="Activities[' + rowCount + '].Description" /></td></tr>';
        $('#activityTable > tbody').append(rowHtml);

    }

    function RemoveAction(index) {

    }
</script>

