@model UserAddModel

@{
    LayoutModel.Title = "إضافة مستخدم";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink("الرئيسية", "Index", "Home")</li>
        <li>@Html.ActionLink("المستخدمين", "Index")</li>
        <li class="active"><a href="#">إضافة مستخدم</a></li>
    </ol>
}

@section Scripts
{
    @Scripts.Render("~/bundles/angulartree")
}
@section Styles
{
    @Styles.Render("~/Content/angulartree")
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">إضافة مستخدم</div>
        <div class="panel-body">
            @Html.MCITextBoxItemFor(m => m.UserName, httmlAttributes: new { maxLength = "256", @class = "englishN" })
            @Html.MCITextBoxItemFor(m => m.FullName, httmlAttributes: new { maxLength = "256" })
            @Html.MCIPasswordItemFor(m => m.Password, httmlAttributes: new { maxLength = "256" })
            @Html.MCIPasswordItemFor(m => m.PasswordConfirm, httmlAttributes: new { maxLength = "256" })
            @Html.MCITextBoxItemFor(m => m.Email, httmlAttributes: new { maxLength = "256" })
            @Html.MCITextBoxItemFor(m => m.Mobile, httmlAttributes: new { @class = "only-number", maxLength = "10" })
            @*@Html.MCIListBoxtItemFor(m => m.Roles, new MultiSelectList(Model.RoleNames, "Key", "Value"))*@
            @Html.MCICheckBoxItemFor(m => m.IsActive, "نعم")
            @Html.MCIMultiSelectAngularTreeItemFor(m => m.Roles, new MultiSelectList(Model.RoleNames, "Key", "Value"), 12)
        </div>
        <div class="panel-footer text-left">
            @Html.MCISubmitButton("حفظ", htmlAttributes: new { @class = "btn btn-primary" })
            @Html.MCIAcionLink("إلغاء", "Index", htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
}

