@model RefactorName.Web.Models.ChangePasswordModel

@section Styles
{
    <link href="~/Content/signin.css" rel="stylesheet" />
}


<div class="center-block SSO mk-shadow" style="max-width:600px;">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        
        <img class="signin-logo" src='@Url.Content("~/Images/Login-logo.png")'>

        @Html.MCIStartFormItemsRow()
        @Html.MCIPasswordItemFor(m => m.OldPassword, 12, new { @class = "focus", placeholder="كلمة المرور الحالية" }, true)
        @Html.MCIPasswordItemFor(m => m.NewPassword, 12, new {placeholder = "كلمة المرور الجديدة" })
        @Html.MCIPasswordItemFor(m => m.ConfirmPassword, 12, new { placeholder = "تأكيد كلمة المرور الجديدة" })
        @Html.MCIEndFormItemsRow()

        <br class="clearfix" />
        <div class="pull-left">
            <a class="btn btn-default" href='@ViewBag.ReturnUrl'>إلغاء</a>
            @Html.MCISubmitButton("موافق", "", "", new { @class = "btn btn-primary" })
        </div>
        <br />
    }
</div>
