@using RefactorName.WebApp.Areas.Backend.Models
@using MvcHtmlHelpers
@model List<ActivityAddModel>

<div>
    <div id="messageContainer" class="alert info" style='width:100%;display:@ViewBag.Style'>
        <span class="closebtn" onclick='this.parentElement.style.display="none";'>&times;</span>
        <strong>Info!</strong><span id="message"> @ViewBag.Message</span>
    </div>
    @using (Html.MCIBeginItemsCol(12))
    {
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default">
                    <div class="panel-heading">Manage Activities</div>
                    <div class="panel-body">

                        @using (Html.MCIBeginItemsRow())
                        {
                            @Html.MCITextBoxItem(name: "ActivityName", defaultValue: "", labelText: "Activity Name", httmlAttributes: new { maxLength = "100", id = "ActivityName", name = "ActivityName", value = "" })
                            @Html.MCIDropDownListItem(selectList: (SelectList)ViewBag.ActivityTypes, name: "ActivityType", optionLabel: null, labelText: "Activity Type", httmlAttributes: new { maxLength = "100", id = "ActivityTypeID", name = "ActivityTypeID", value = "" })
                            @Html.MCITextBoxItem(name: "ActivityDescription", defaultValue: "", labelText: "Activity Description", httmlAttributes: new { maxLength = "100", id = "ActivityDescription", name = "ActivityDescription", value = "" })
                            <input type="hidden" id="ProcessId" value="@ViewBag.ProcessId" />

                        }
                        <button type="button" id="btnSave" class="btn btn-primary" onclick="Save(event)">Add</button>
                        @using (Html.MCIBeginItemsCol(12))
                        {
                            <div style="padding:10px;">
                                <div id="DivNoData" class="well well-sm center-block" style="position: relative; top: 50%; transform: translateY(0%);visibility:visible">No Data Found</div>
                                <div id="grid_div" class="well well-sm center-block table-responsive" style="position: relative; top: 50%; transform: translateY(0%);visibility:hidden ">
                                    <table id="groups_table" class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <td style="display:none;width:0%">Index </td>
                                                <td style="width:40%;text-align:center">Name </td>
                                                <td style="width:40%;text-align:center">Activity Type Name</td>
                                                <td style="width:10%;text-align:center">Delete</td>
                                                <td style="width:10%;text-align:center">Edit</td>
                                            </tr>
                                        </thead>
                                        <tbody jput="activityRows" jput-jsondata='[]'>
                                            <tr>
                                                <td style="display:none">{{index}}</td>
                                                <td>{{json.ActivityName}}</td>
                                                <td>{{json.ActivityTypeName}}</td>
                                                <td>
                                                    <a href="#" onclick="deleteActivityRow(event,{{index}})" id="delete">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#" onclick="editActivityRow(event,{{index}})" id="delete">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer text-left" style='border-top:none'>
                                <input type="button" value="Back" onclick="Back()" class="btn btn-primary" />
                                <input type="button" value="Next" onclick="submitForm()" class="btn btn-primary" />
                                <input type="button" value="Reload" onclick="Reload()" class="btn btn-primary" />
                            </div>
                        }
                    </div>
                </div>
                
            }
        }
    }
    
</div>
<div>
    @using (Html.MCIBeginItemsCol(12))
    {
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                
            }
        }
    }
    @{
        var model = new System.Web.Script.Serialization.JavaScriptSerializer();
        var modelJson = model.Serialize(Model);
    }
</div>

<script src="~/EnDesign/js/jput-2.js"></script>


<script type="text/javascript">    
    var model = JSON.parse('@Html.Raw(modelJson)');
    var CreateActivitiesURL = '@Url.Action("CreateActivities")';
    var BackToGroupsURL = '@Url.Action("BackToGroups")';
    var BackToActivitiesURL = '@Url.Action("BackToActivities")'    
</script>
<script src="~/WorkflowJS/ProcessManagement/ActivityManagement.js"></script>