<!-- Menu Dashboard -->
<li>
    <a href='@Url.Content("~/")' class="active">
        <i class="glyphicon glyphicon-home"></i><span class="title">الصفحة الرئيسية</span>
    </a>
</li><!--end /menu-item -->
<!-- Menu UI -->
<li>
    <a href="#">
        <i class="glyphicon glyphicon-signal"></i><span class="title">Layout Components</span> <span class="expand-sign">+</span>
    </a>
    <!--start submenu -->
    <ul>
        <li><a href='@Url.Action("TopMenu", "Test")'>Top Menu</a></li>
        <li><a href='@Url.Action("SideMenu", "Test")'>Side Menu</a></li>
        <li><a href='@Url.Action("Breadcrumb", "Test")'>Breadcrumb</a></li>
        <li><a href='@Url.Action("TopMessages", "Test")'>Top Messages, alert</a></li>
    </ul><!--end /submenu -->
</li><!--end /menu-item -->
<!-- Menu Pages -->
<li>
    <a href="javascript:void(0);">
        <i class="glyphicon glyphicon-print"></i><span class="title">Form items</span> <span class="expand-sign">+</span>
    </a>
    <!--start submenu -->
    <ul>
        <li><a href='@Url.Action("DisplayItems", "Test")'>Display items</a></li>
        <li><a href='@Url.Action("TextInputs", "Test")'>Textbox, Textarea and Password</a></li>
        <li><a href='@Url.Action("DropDownLists", "Test")'>DropDownList</a></li>
        <li><a href='@Url.Action("CheckboxRadioButtonItems", "Test")'>Checkbox and radio button items</a></li>
        <li><a href='@Url.Action("MultiSelectItems", "Test")'>MultiSelect Items</a></li>
    </ul><!--end /submenu -->
</li><!--end /menu-item -->
<!-- Menu Tables -->
<li>
    <a href="javascript:void(0);">
        <i class="glyphicon glyphicon-print"></i><span class="title">Advanced Inputs</span> <span class="expand-sign">+</span>
    </a>
    <!--start submenu -->
    <ul>
        <li><a href='@Url.Action("FileUploader", "Test")'>File Uploader</a></li>
        <li><a href='@Url.Action("Captcha", "Test")'>Captcha</a></li>
        <li><a href='@Url.Action("Signature", "Test")'>Signature</a></li>
    </ul><!--end /submenu -->
</li><!--end /menu-item -->
<!-- Menu Forms -->
<li>
    <a href='@Url.Action("Wizards", "Test")'>
        <i class="glyphicon glyphicon-print"></i><span class="title">Wizard headers</span>
    </a>
</li><!--end /menu-item -->

<li>
    <a href='@Url.Action("Tabs", "Test")'>
        <i class="glyphicon glyphicon-print"></i><span class="title">Tabs</span>
    </a>
</li>

<li>
    <a href='@Url.Action("Modal", "Test")'>
        <i class="glyphicon glyphicon-print"></i><span class="title">Modal</span>
    </a>
</li>

<li>
    <a href="javascript:void(0);">
        <i class="glyphicon glyphicon-print"></i><span class="title">Google Maps</span> <span class="expand-sign">+</span>
    </a>
    <!--start submenu -->
    <ul>
        <li><a href='@Url.Action("GoogleMapsMarker", "Test")'>One Editable Location</a></li>
        <li><a href='@Url.Action("GoogleMapsMarkers", "Test")'>View Markers</a></li>
    </ul><!--end /submenu -->
</li>

<li>
    <a href="javascript:void(0);">
        <i class="glyphicon glyphicon-print"></i><span class="title">Links And Buttons</span> <span class="expand-sign">+</span>
    </a>
    <!--start submenu -->
    <ul>
        <li><a href='@Url.Action("Links", "Test")'>Links</a></li>
        <li><a href='@Url.Action("Buttons", "Test")'>Buttons</a></li>
    </ul><!--end /submenu -->
</li>

<li>
    <a href="javascript:void(0);">
        <i class="glyphicon glyphicon-print"></i><span class="title">Plugins</span> <span class="expand-sign">+</span>
    </a>
    <ul>
        <li><a href='@Url.Action("StarRating", "Test")'>Star rating</a></li>
        <li><a href='@Url.Action("DatePicker", "Test")'>Date Picker</a></li>
        <li><a href='@Url.Action("MultiSelect", "Test")'>Multi Select</a></li>
        <li><a href='@Url.Action("Select2", "Test")'>Select2</a></li>
        <li><a href='@Url.Action("PrettyPhoto", "Test")'>Pretty Photo</a></li>
        <li><a href='@Url.Action("TypeAhead", "Test")'>Type Ahead</a></li>
        <li><a href='@Url.Action("FilterInput", "Test")'>Filter Input</a></li>
        <li><a href='@Url.Action("InputMask", "Test")'>Input Mask</a></li>
    </ul>
</li>


<li>
    <a href="javascript:void(0);">
        <i class="glyphicon glyphicon-print"></i><span class="title">Charts</span> <span class="expand-sign">+</span>
    </a>
    <ul>
        <li><a href='@Url.Action("PieChart", "Test")'>Pie Chart</a></li>
        <li><a href='@Url.Action("BarChart", "Test")'>Bar Chart</a></li>
        <li><a href='@Url.Action("MapChart", "Test")'>Map Chart</a></li>
    </ul>
</li>

<!--end /menu-item -->
