@model StateModel
@*@{
        var prefix = "Fields";
    }*@
<h3>States</h3>

@*@using (Html.BeginForm("", "", FormMethod.Post, new { id = "FieldsForm" }))
    { }*@
<form id="FieldsForm">
    @Html.DisplayNameFor(d => d.Name)
    @Html.TextBoxFor(m => m.Name, new { id = "State_Name" })
    @Html.ValidationMessageFor(v => v.Name)

    @Html.DisplayNameFor(d => d.StateTypeId)
    @Html.TextBoxFor(m => m.StateTypeId, new { id = "State_StateTypeId" })
    @Html.ValidationMessageFor(v => v.StateTypeId)

    @Html.DisplayNameFor(d => d.Description)
    @Html.TextBoxFor(m => m.Description, new { id = "State_Description" })
    @Html.ValidationMessageFor(v => v.Description)

    <button type="button" onclick="AddAction()"> Add </button>
</form>

<br />
<br />
<table id="stateTable" width="100%" border="1">
    <thead><tr><th>Name</th><th>Type</th><th>Description</th></tr></thead>
    <tbody></tbody>
</table>

<script>
    function AddAction() {
        //if ($("#FieldsForm").valid()) { }
        var name = $("#State_Name").val(); $("#State_Name").val("");
        var type = $("#State_StateTypeId").val(); $("#State_StateTypeId").val("")
        var description = $("#State_Description").val(); $("#State_Length").val("")

        var rowCount = $('#stateTable tbody tr').length;
        var rowHtml = '<tr><td><span>' + name + '</span><input type="hidden" value="' + name + '" id="States[' + rowCount + '].Name" /></td><td><span>' + type + '</span><input type="hidden" value="' + type + '" id="States[' + rowCount + '].StateTypeId" /></td><td><span>' + description + '</span><input type="hidden" value="' + description + '" id="States[' + rowCount + '].Description" /></td></tr>';
        $('#stateTable > tbody').append(rowHtml);

    }

    function RemoveAction(index) {

    }
</script>


