@LayoutModel.Title = "Index";

<h2>الرئيسية</h2>


@Html.ActionLink("Delete Invoice", "DeleteInvoice")
<br />
@Html.ActionLink("Delete Item", "DeleteItem")
<br />
@Html.ActionLink("Create Item", "CreateItem")
<br />
@Html.ActionLink("Update Item", "UpdateItem")
<br />
@Html.ActionLink("Repository Exception", "Repository")
<br />
@Html.ActionLink("Validation Exception", "Validation")

<a href="#" onclick="myLoad()">content</a>
<div id="riad" style="background-color: cornflowerblue">
    riad div
</div>

<script>
    function myLoad() {
        $("#riad").load('/Home/ConfirmModal?t=TitleGoingHere&m=MessageOfConfirmationGogintHere', function (x, y, z) {
            debugger;
        });
    }
</script>